body {
  margin-bottom: 120px;
  background: var(--bg-color);
}

#user-input {
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header img {
  display: block;
  margin: 0 auto;
  height: 300px;
  object-fit: cover;
}

#user-input select#selector-types {
  display: block;
  margin: 0 auto 30px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-family-title);
}

#user-input #filter {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}

#user-input select {
  border: 2px solid var(--border-color);
  font-size: 16px;
  font-family: var(--font-family);
}

#user-input input {
  border: 2px solid var(--border-color);
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
}

/* 
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--pink);
  color: white;
  text-align: center;
  font-family: var(--font-family-title);
  letter-spacing: 2px;
} */
