body {
  margin-bottom: 120px;
  background: var(--bg-color);
}

#user-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  display: block;
  margin: 0 auto;
  height: 300px;
}

#user-input select#selector-types {
  display: block;
  margin: 0 auto 30px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-family-title);
}

#user-input #filter {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}

#user-input select {
  border: 2px solid var(--border-color);
  font-size: 16px;
  font-family: var(--font-family);
}

#user-input input {
  border: 2px solid var(--border-color);
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
}

@media only screen and (max-width: 768px) {
  #user-input {
    text-align: center;
    margin-bottom: 0;
    /* Ensure the parent container aligns its children center */
  }

  #user-input input {
    width: 285px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  #user-input select {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    display: block;
    text-align: center; /* Ensure it takes full width available */
  }

  .header {
    text-align: center; /* Center the header content */
  }

  .header img {
    height: auto; /* Adjust height or max-height if necessary */
    max-width: 100%; /* Ensure image stays within container */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure proper block display */
  }
}
