#container-search-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.item-card {
  background-color: var(--bg-card-color);
  padding: 10px;
  margin: 8px 4px;
  border-radius: 36px;
  border: 2px solid var(--border-color);
  max-width: 600px;
}

.item-card img {
  display: block;
  border-radius: 18px;
  text-align: center;
  margin: 0 auto 8px;
  max-width: 600px;
}

.container-card-info {
  flex: 1;
  padding-left: 24px;
  flex-wrap: wrap;
}

.item-card h3 {
  font-family: var(--font-family-title);
  text-align: center;
  font-size: 36px;
  color: var(--title-color);
  letter-spacing: 2px;
  margin: 24px 36px 12px;
}

.container-card-info ul {
  padding: 0;
  margin: 0;
}

.container-card-info ul li {
  font-family: var(--font-family);
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin-left: 36px;
  margin-bottom: 8px;
  line-height: 26px;
  color: var(--text-color);
  letter-spacing: 1px;
}

.container-card-info a {
  text-decoration: none;
  color: var(--border-color);
  display: block;
  margin: 24px 0;
  text-align: center;
}

.container-card-info a:hover,
.container-card-info a:focus {
  opacity: 0.75;
}

iframe {
  display: block;
  margin: 8px auto;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #container-search-result {
    grid-template-columns: 1fr;
  }
  .item-info {
    padding-left: 8px;
    flex: auto;
    width: 100%;
    padding-top: 20px;
  }
  .item-info ul {
    padding: 0;
  }
}
