#paginator-top,
#paginator-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  font-family: var(--font-family);
  color: white;
}

#paginator-top > :first-child,
#paginator-bottom > :first-child {
  text-align: right;
}

#paginator-top > :nth-child(2),
#paginator-bottom > :nth-child(2) {
  text-align: center;
}

#paginator-top > :last-child,
#paginator-bottom > :last-child {
  text-align: left;
}

#paginator-top label,
#paginator-bottom label {
  margin-right: 10px;
}

.page-number {
  color: var(--blue);
}

#paginator-top button,
#paginator-bottom button {
  margin-right: 2px;
}
