#paginator-top,
#paginator-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  font-family: var(--font-family);
  color: white;
}

#paginator-top > :first-child,
#paginator-bottom > :first-child {
  text-align: right;
}

#paginator-top > :nth-child(2),
#paginator-bottom > :nth-child(2) {
  text-align: center;
}

#paginator-top > :last-child,
#paginator-bottom > :last-child {
  text-align: left;
}

#paginator-top label,
#paginator-bottom label {
  margin-right: 10px;
}

.page-number {
  color: var(--blue);
}

#paginator-top button,
#paginator-bottom button {
  margin-right: 2px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  #paginator-top,
  #paginator-bottom {
    grid-template-columns: 1fr;
    grid-template-areas: "first" "center" "last";
    text-align: center;
    grid-gap: 0;
  }

  #paginator-top > :first-child,
  #paginator-bottom > :first-child {
    grid-area: first; /* Place first element at the top */
    text-align: center; /* Align text to the left */
  }

  #paginator-top > :nth-child(2),
  #paginator-bottom > :nth-child(2) {
    grid-area: center; /* Place second element in the middle */
    text-align: center; /* Align text to the right */
  }

  #paginator-top > :last-child,
  #paginator-bottom > :last-child {
    grid-area: last; /* Place last element at the bottom */
    text-align: center; /* Center the text */
  }
}
