#sort {
  display: block;
  margin: 36px auto;
  text-align: center;
}

#sort label {
  color: #fff;
  font-family: var(--font-family);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sort select {
  margin-right: 4px;
}

@media only screen and (max-width: 768px) {
  #sort {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr;
  }
}
