@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./index.css");
@import url("./button.css");
@import url("./error.css");
@import url("./item-card.css");
@import url("./pagination.css");
@import url("./sort.css");
@import url("./filter.css");

:root {
  --text-color: #8f7a6b;
  --title-color: #eeba3c;
  --bg-card-color: #372e298051;
  --bg-color: #0e0e0e;
  --border-color: #f9d15e;
  --font-family-title: "MedievalSharp", cursive;
  --font-family: "Montserrat", sans-serif;
}
